@model Usuario

@{
    ViewBag.Subtitulo = "Exclusão";
}


<h1 class="text-primary">Exclusão de Usuario.</h1>
<hr />
<h4>Deseja realmente excluir o usuário</h4>
<form method="POST" class="w-25">
    <input type="hidden" asp-for="IdUsuario" />
    <div class="mt-3">
        <a asp-action="Usuarios" class="btn btn-sucess">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>
